@model ESOFT_WORK_FLOW_MANAGEMENT.Models.WORK_FLOW

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WORK_FLOW</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WF_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WF_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.END_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.END_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS1.TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS1.TYPE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WF_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
