@model IEnumerable<ESOFT_WORK_FLOW_MANAGEMENT.Models.WORK_FLOW>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}

<div class="content">

    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <h2>Work Flow</h2>
            </div>
        </div>
    </nav>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb indigo lighten-4">
            <li class="breadcrumb-item">
                <a class="black-text" href="#">Home</a>
                <i class="fa fa-caret-right mx-2" aria-hidden="true"></i>
            </li>
            <li class="breadcrumb-item">
                <a class="black-text" href="#">Work Flow List</a>
            </li>
        </ol>
    </nav>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Main Work Flows</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    Main Work Flow 
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Began Date
                                </th>
                                <th>
                                    End Date
                                </th>
                                <th>
                                    Modification
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WF_NAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.STATUS1.STATUS1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CREATE_DATE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.END_DATE)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.WF_ID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.WF_ID }) 
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
 </div>
