@model ESOFT_WORK_FLOW_MANAGEMENT.Models.ORGANIZATION

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ORGANIZATION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ORGANIZATION1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORGANIZATION1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADR1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADR1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADR2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADR2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTATC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTATC)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
