@model ESOFT_WORK_FLOW_MANAGEMENT.Models.ENTITY_EMPLOYEE

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}

<div class="content">

    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <h2>Create</h2>
            </div>
        </div>
    </nav>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Work Entity</h4>
                    <p class="card-category">Process Your Entity</p>
                </div>
                <div class="card-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Entity</label>
                                        @Html.DropDownList("ENTITY_ID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ENTITY_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Employee</label>
                                        @Html.DropDownList("EMP_ID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.EMP_ID, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Current Status</label>
                                        @Html.DropDownList("STATUS", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.STATUS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Remark</label>
                                    @Html.EditorFor(model => model.REMARK, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.REMARK, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                    </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

