@model ESOFT_WORK_FLOW_MANAGEMENT.Models.ENTITY_EMPLOYEE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ENTITY_EMPLOYEE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.REMARK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REMARK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENTITY_WORK.ENTITY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENTITY_WORK.ENTITY_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS1.TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS1.TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE.FIRST_NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
