@model ESOFT_WORK_FLOW_MANAGEMENT.Models.EMPLOYEE

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_New.cshtml";
}

    <div class="content">

        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <h2>Edit User</h2>
                </div>
            </div>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb indigo lighten-4">
                <li class="breadcrumb-item">
                    <a class="black-text" href="#">Home</a>
                    <i class="fa fa-caret-right mx-2" aria-hidden="true"></i>
                </li>
                <li class="breadcrumb-item">
                    <a class="black-text" href="@Url.Action("Index", "Employee")">User List</a>
                    <i class="fa fa-caret-right mx-2" aria-hidden="true"></i>
                </li>
                <li class="breadcrumb-item">
                    <a class="black-text" href="#">Edit User</a>
                </li>
            </ol>
        </nav>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Employee</h4>
                        <p class="card-category">Edit Employee profile</p>
                    </div>
                    <div class="card-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.EMP_ID)

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">User Role</label>
                                    @Html.DropDownList("USER_ROLE", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.USER_ROLE, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.USER_ROLE, "USER_ROLE", htmlAttributes: new { @class = "control-label col-md-5" })*@
                                    <label class="bmd-label-floating">Organization Name</label>
                                    @Html.DropDownList("ORGN_ID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ORGN_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Profile Status</label>
                                    @Html.DropDownList("STATUS", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.STATUS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">First Name</label>
                                    @Html.EditorFor(model => model.FIRST_NAME, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FIRST_NAME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Last Name</label>
                                    @Html.EditorFor(model => model.LAST_NAME, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LAST_NAME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Contact</label>
                                    @Html.EditorFor(model => model.CONTACT, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CONTACT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">User Name</label>
                                    @Html.EditorFor(model => model.USER_NAME, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.USER_NAME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Password</label>
                                    @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        }




        

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @*@section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }*@
